/* GENERAL */

body{
    min-height: 100vh;
    background-color: #d3dbe8;
}

.theParentContainer{
    display: flex;
    min-height: 100vh;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

.showDetails{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#hidden{
    display: none;
}


/* NAVBAR */

.navbar{
    flex-basis: 100%;
    display: flex;
    height: auto;
}

.leftNav{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.rightNav{
    flex: 1;
    display: flex;
    justify-content: end;
}

.buttons{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    width: 100px;
}

.buttons:hover{
    font-weight: 540;
}

/* SIDEBAR */
.sidebar{
    background-color: lightgray;
    min-width: 250px;
    height: 100%;
    text-align: center;
    display: block;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    text-align: center;
}

.dropdown-content a{
    display: block;
}

/* MAINCONTENT */
.mainContent{
    flex-grow: 1;
}

/* CATEGORIES */

.sub-container{
    margin-top: 50px;
}

.categoryImage{
    display: flex;
    justify-content: center;
}

.shortDescriptionCat{
    border-top: solid 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    margin: 10px 20px 10px 20px;
}

/* ADD VARIABLE */

.product{
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: space-between;
}

/* PRODUCTS */

.productContainer{
    margin-top: 50px;
}

.categoryName{
    margin:10px 0px 20px 50px;
}

.emptyProduct{
    visibility: hidden;
}

.productName{
    border-bottom: solid 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    height: 34px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin: 10px;
}

.productImage{
    display: flex;
    justify-content: center;
}

.shortDescription{
    border-top: solid 0.5px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   height: 89px;      /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
    padding-top: 10px;
    margin: 10px;
}

.price{
    margin-left: 40px;
}

/* PRODUCT DETAILS */

.details-container{
    display: flex;
    margin-top: 50px;
}

.details-image{
   display: flex;
   justify-content: center;
}

.variation{
    display: flex;
    justify-content: start;
}

.theLabel{
    border: solid 1px #0d6efd;
    padding: 5px;
    min-height: 15px;
    min-width: 70px;
    text-align: center;
    border-radius: 5px;
}

.theLabel input{
    opacity: 0;
    width: 0;
    height: 0;
}

.theLabel:hover{
    background-color: #0d6efd;
    color: white;
}

.variants{
    justify-content: left;
}

/* FORMS */

.post-container{
    display: flex;
}

.form-label{
    display: block;
}
