sideNav 

    aside.sidebar
        h2 Dashboard
        .dropdown 
            button.drop-button#btn1 Products
            .dropdown-content#drop1
                a(href="/posts/product") Add product 
                a(href="/posts/product/edit-products") Edit product 
                a(href="/posts/product/edit-products") Add variable  
        .dropdown 
            button.drop-button#btn2 Categories
            .dropdown-content#drop2
                a(href="") Add category 
                a(href="") Edit category 

    script(src="/static/javascripts/sideNav.js") 