sideNav 

    aside.sidebar
        h2 Dashboard
        .dropdown 
            button.drop-button#btn1 Products
            .dropdown-content#drop1
                a(href="") Add product 
                a(href="") Edit product 
                a(href="") Add variable  
        .dropdown 
            button.drop-button#btn2 Categories
            .dropdown-content#drop2
                a(href="") Add category 
                a(href="") Edit category 

    script(src="../static/javascripts/sideNav.js") 