extends layout 

block main 
    .theParentContainer 
        include includes/adminPanel.pug
        .mainContent
            -for(var i=0; i<length; i++)
                .product
                    img(src=`/static/images/products/small/${image[i]}`, alt="")
                    p= ids[i]
                    p= productName[i]
                    p= image[i]